


body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  line-height: 2;
  color: #66BFBF;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover {
  color: grey;
}

.navbar {
  font-family: "Montserrat", sans-serif;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;

}

.middle-container {
  margin: 100px 0;
}
.intro {
  width: 50%;
  margin: auto;
}
.bottom-container {
  margin-top: 50px;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.cloud {
  position: absolute;

    width: 150px;
    height: 45px;
-webkit-transition: all 1s ease-in-out;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 980;
}
/* .left-cloud {
    left: -6em;
    bottom: 2em;
}
.right-cloud {
    right: -5em;
    top: 0;
} */
.top-cloud {
  position: absolute;
  /* right: 400px;
  top: 50px; */
}

.bottom-cloud {
  position: absolute;
  /* left: 400px; */
  /* bottom: 300px; */
}
.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #EAF6F6;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.profile-title {
  font-weight: normal;
}
.skill-row-l {
  width: 50%;
  margin: 100px auto;
  text-align: left;

}
.skill-row-r {
  width: 50%;
  margin: 100px auto;
  text-align: right;

}

p {
    line-height: 2;
}
.skill-l-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-r-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}
.contact-message {
  width: 40%;
  margin: 40px auto 40px;
}

.btn {
	background-color:#2bc4ad;
	border-radius:9px;
	border:1px solid #30e3cb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	  font-family: 'Montserrat', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.btn:hover {
	background-color:#30e3cb;
}
.btn:active {
	position:relative;
	top:1px;
}
